@media (max-width: 1440px) {
  /* header */
  .navbar_list_item_link,
  .header_section_item_language {
    font-size: 14px;
  }

  .header_dropdown_content_list.offers {
    left: 130px;
  }
  .header_dropdown_content_list.spaces {
    left: 260px;
  }
  /* hero */

  .hero_container {
    padding: 80px;
  }
  .hero_content_wrapper > h1 {
    font-size: 24px;
  }

  .hero_content_wrapper > p {
    font-size: 14px;
  }

  .hero_content_wrapper {
    padding-block: 18px;
    max-width: 450px;
  }
  /* big msg */
  .big_msg_section > p {
    font-size: 32px;
  }

  /* digital app */

  .digital_app_content {
    height: 374px;
    row-gap: 16px;
  }

  .digital_app_content > h2 {
    padding-bottom: 16px;
  }
  .digital_app_content > p {
    font-size: 14px;
  }

  /* offers */

  .container_padding.slider {
    padding-inline: 0px;
  }

  .container_header_wrapper_padding {
    padding-inline: 47px;
  }

  .container_header_wrapper {
    width: 100%;
    max-width: 1110px;
    margin-inline: auto;
  }

  .offers_wrapper {
    padding-inline: calc(50vw - 550px);
  }

  .offers_container {
    max-width: 100%;
  }

  /* footer */
  .footer_middle_section.title {
    font-size: 14px;
  }

  .footer_middle_section_list > p {
    font-size: 14px;
  }
  .contact_item_txt {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .swiper_scrollbar_wrapper {
    width: auto;
    max-width: none;
    margin-inline: 47px;
  }
}

@media (max-width: 1195px) {
  /* offers */

  .offers_wrapper {
    padding-inline: 47px;
  }

  /* products */
  .swiper_arrows_wrapper.hidden {
    display: flex;
  }
}

@media (max-width: 1100px) {
  /* header */
  .navbar_list,
  .header_dropdown,
  .header_section_item.language_toggle.header {
    display: none;
  }
  /* burger menu */
  .header_burger_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px;
    row-gap: 5px;
    transition: transform 0.4s ease, opacity 0.4s ease;
  }

  .header_burger_menu_line {
    background-color: var(--font_color_light);
    border-radius: 1px;
    height: 2px;
    transition: transform 0.4s ease, opacity 0.4s ease;
  }

  .header_burger_menu_line.one {
    width: 11px;
  }

  .header_burger_menu_line.two {
    width: 20px;
  }

  .header_burger_menu_line.three {
    width: 15px;
  }

  .header_burger_menu.active .header_burger_menu_line.one {
    transform: rotate(45deg);
    width: 20px;
    transform-origin: left center;
  }

  .header_burger_menu.active .header_burger_menu_line.two {
    opacity: 0;
  }

  .header_burger_menu.active .header_burger_menu_line.three {
    transform: rotate(-45deg);
    width: 20px;
    transform-origin: left center;
  }

  .buger_menu_container {
    background-color: var(--background_color);
    width: 100%;
  }

  .buger_menu_item_dropdown {
    padding: 32px 45px;
    border-bottom: 1px solid var(--border_color);
  }
  .buger_menu_item_dropdown_title_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .buger_menu_item_dropdown_title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.7;
  }

  .footer_middle_section.contact.header {
    padding: 45px;
  }
  .footer_middle_section.title.header {
    font-size: 14px;
  }
  .contact_item_txt.header {
    font-size: 14px;
  }

  .footer_bottom.header {
    border-top: 1px solid var(--border_color);
    padding-inline: 45px;
  }
  .footer_bottom_section.links.header {
    row-gap: 8px;
    flex-wrap: wrap;
  }
}
